* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  font-family: "Helvetica", sans-serif ;
}
h2{
  color: #000000;
}
p{
  color: #3C3C3C;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav #links #firstlink{
  text-decoration: none;
  color: #3C3C3C;
  font-size: 2.5rem;
  font-family: "Helvetica", sans-serif ;
  padding-left: 8rem;
}
nav #links #secondlink{
  text-decoration: none;
  color: #3C3C3C;
  font-size: 1.5rem;
  font-family: "Helvetica", sans-serif ;
  padding-left: 2rem;
}
nav #links #thirdlink{
  text-decoration: none;
  color: #3C3C3C;
  font-size: 1.5rem;
  font-family: "Helvetica", sans-serif ;
  padding-left: 2rem;
}
nav #links #fourthlink{
  text-decoration: none;
  color: #3C3C3C;
  font-size: 1.5rem;
  font-family: "Helvetica", sans-serif ;
  padding-left: 2rem;
}
sections{
  background-color: ##F4F7FA;
}
nav #buttons #fifthlink{
  text-decoration: none;
  color: #3C3C3C;
  font-size: 1.5rem;
  font-family: "Helvetica", sans-serif ;
  padding-left: 2 rem;
}
nav #buttons #button1{
  color: #3C3C3C;
  font-size: 1.5rem;
  font-family: "Helvetica", sans-serif ;
  padding: 1 rem;
  background-color: #8EE5D1;
  border-radius: 3rem;
  border-color: transparent;
}


#header {
  display: flex;
  margin-top: 20px;
  padding: 1rem;
}

#header h2{
  font-size: 2.3rem;
}
#header p{
  font-size: 1rem;
  margin-top: 1.5rem;
}
#header #started{
  margin-top: 1.5rem;
  background-color: #8EE5D1;
  border-radius: 3rem;
  border-color: transparent;
  padding: 1rem;
  
}

#emailAddress{
  padding:2rem;
  display: flex;
  justify-content:center;
}

#emailAddress #demo{
  margin-top: 1.5rem;
  background-color: #8EE5D1;
  border-radius: 3rem;
  border-color: transparent;
  padding: 1rem;
}

section{
  display: flex;
  padding: 2rem;
  
}
.col{
  background-color: #F4F7FA;
  margin: 10px;
}
.col h2{
  color: #8EE5D1;
}

#footers{
  background-color: #F4F7FA;
  display:flex;
}
 
@media screen and (max-width:640px){
  nav #links #secondlink,nav #links #thirdlink, nav #links #fourthlink{
    display: none;
  }
  section {
    flex-direction: column;
  }
}
